.shop-container{
    display: flex;
}
.product-container{
    width: 80%;
    margin-left: 200px;
    padding-right: 5px;
    border-right: 1px solid lightgray;
}
.cart-container{
    width: 20%;
    padding-left: 5px;
}